:root {
    /* Primary Color */
    --Dark-Blue: #043873;
    --Blue: #4F9CF9;

    /* Secondary Color */
    --Yellow: #FFE492;
    --Light-Blue: #A7CEFC;
    --White: #ffffff;
    --Black: #212529;

}