.container {
    margin: 0 220px;
}

.yellow-btn {
    background-color: var(--Yellow);
    border: none;
    padding: 18.5px 40px;
    border-radius: 12px;
    color: var(--Dark-Blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.blue-btn {
    background-color: var(--Blue);
    border: none;
    padding: 18.5px 24px;
    border-radius: 12px;
    color: var(--White);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 1;

}

.blue-btn>i {
    font-size: 11px;
}

/* header styles */
header {
    background-color: var(--Dark-Blue);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-right-section {
    display: flex;
    gap: 60px;
}

.header-navigation-block {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-droplist {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: var(--White);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-droplist>i {
    font-size: 9px;
    padding: 10px;
}

.header-buttons-block {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header-buttons-block>i {
    display: none;
}

/* introduction styles */
.introduction {
    background-color: var(--Dark-Blue);
    color: var(--White);
    background-image: url('/assets/images/lines-bg/introduction-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.introduction-content {
    display: flex;
    align-items: center;
    padding: 140px 0;
}

.introduction-title {
    margin-bottom: 24px;
}

.introduction-description {
    margin-bottom: 60px;
}

.introduction-img {
    width: 824px;
    height: 549px;
    background-color: #C4DEFD;
}

/* Project Management */

.project-management {
    background-color: var(--White);
    color: var(--Black);
    background-image: url('/assets/images/lines-bg/project-management-bg.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: end;
}

.project-management-content {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.project-management-title {
    margin-bottom: 24px;
    background-image: url('/assets/images/lines-bg/Element.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 600px;
}

.project-management-description {
    margin-bottom: 60px;
}

.project-management-img {
    width: 748px;
    height: 547px;
    background-color: #C4DEFD;
    margin-left: 60px;
}

.project-management-text>.blue-btn {
    border-radius: 6px;
}

/* work-together styles */



/* Use as Extention styles */
.use-as-extention {
    background-color: var(--Dark-Blue);
}

.uae-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0;
    gap: 98px;

}

.uae-left-part {
    color: var(--White);
}

.uae-title {
    margin-bottom: 24px;
}

.uae-title span {
    background-image: url("/assets/images/UnderLine.svg");
    background-repeat: no-repeat;
    background-position-y: 95%;

}

.uae-description {
    margin-bottom: 60px;
}


.uae-img {
    width: 686px;
    height: 479px;
    background-color: var(--Light-Blue);

}

.uae-btn {
    padding: 20px 40px;
}

.uae-btn i {
    font-size: 15px;
}

/* customise styles */



/* plans section styles */
.plans-title {
    margin-bottom: 24px;
    text-align: center;
    padding-top: 140px;
}

.plans-subtitle {
    max-width: 979px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

.plans-block {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 140px;
}

.plan-item {
    border: 1px solid var(--Yellow);
    border-radius: 10px;
    padding: 40px 44px;
}

.plan-item:nth-child(2) {
    background-color: var(--Dark-Blue);
    border: none;
    color: var(--White);
    padding: 80px 44px;
}

.plan-item:nth-child(2)>.plan-item-price {
    color: var(--Yellow);
}

.plan-item:nth-child(2)>.plan-item-btn {
    background-color: var(--Blue);
    border: none;
    color: var(--White);
}

.plan-item-title {
    margin-bottom: 25px;
}

.plan-item-price,
.plan-item-description {
    margin-bottom: 25px;
}

.plan-item-list {
    list-style: disc;
    margin-left: 20px;
}

.plan-item-list>li {
    margin-bottom: 28px;
}

.plan-item-list>li:last-child {
    margin-bottom: 25px;
}

.plan-item-btn {
    background-color: var(--White);
    border: 1px solid var(--Yellow);
    border-radius: 12px;
    padding: 16px 40px;
}

/* your-work styles */



/* your-data styles */



/* sponsors styles */



/* favorite-apps styles */



/* clients styles */



/* try-today styles */



/* footer styles */

@media screen and (max-width: 1650px) {
    .container {
        margin: 0 32px;
    }

    /* header styles */
    .header-droplist>i {
        padding-right: 0px;
    }

    /* introduction styles */
    .introduction-content {
        padding: 100px 0;
    }

    .introduction-img {
        width: 685px;
        height: 456px;
    }
}

@media screen and (max-width: 1250px) {

    /* header styles */
    .header-navigation-block {
        display: none;
    }

    .header-buttons-block>i {
        display: block;
        color: var(--White);
        font-size: 36px;
    }

    /* introduction styles */
    .introduction-content {
        padding: 145px 0;
    }

    .introduction-img {
        width: 526px;
        height: 350px;
    }

    /* Project Management */
    .project-management-img {
        width: 528px;
        height: 328px;
    }

    /* Use as Extention styles */
    .uae-img {
        width: 458px;
        height: 320px;
    }
}

@media screen and (max-width: 850px) {

    /* header styles */
    .header-buttons-block>.blue-btn,
    .header-buttons-block>.yellow-btn {
        display: none;
    }

    .introduction-content {
        flex-direction: column;
        text-align: center;
        gap: 100px;
        padding: 100px 0;
    }

    .introduction-text>.blue-btn {
        margin: 0 auto;
    }

    /* Project Management */
    .project-management-content {
        flex-direction: column;
        text-align: center;
        gap: 60px;
    }

    .project-management-title {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    .project-management-text>.blue-btn {
        margin: 0 auto;
    }

    .project-management-img {
        margin: 0;
    }

    /* Use as Extention styles */
    .uae-content {
        flex-direction: column;
        text-align: center;
        padding: 100px 0;
    }

    .uae-btn {
        margin: 0 auto;
    }

    /* plans section styles */
    .plan-item:nth-child(1),
    .plan-item:nth-child(3) {
        display: none;
    }

    .plans-block {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 16px;
    }

    /* introduction styles */
    .introduction-img {
        width: 100%;
        height: 191px;
    }

    .introduction-content {
        padding: 80px 0;
    }

    /* Project Management */
    .project-management-content {
        padding: 80px 0;
    }

    .project-management-img {
        width: 100%;
        height: 177px;
    }

    /* Use as Extention styles */
    .uae-content {
        padding: 80px 0;
    }

    .uae-img {
        width: 100%;
        height: 198px;
    }

    /* plans section styles */
    .plans-title {
        padding-top: 80px;
    }

    .plans-block {
        padding-bottom: 80px;
    }
}


/* customise section */
.customise {
    padding-top: 150px;
}



.wrap {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.object {
    display: flex;
    width: 50%;
    height: 502px;
    background-color: #C4DEFD;
    padding-right: 98px;
}

.text {
    padding-left: 98px;
}

.main-text {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    color: #212529;
    width: 669px;
    padding-bottom: 10px;
}

.subtext {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
    width: 669px;
    padding-bottom: 50px;
}

.btn>button {
    width: 171px;
    height: 63px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #4F9CF9;
    color: white;
    border: 0;
    font-size: 17px;
}