*{
    font-family: "Inter", sans-serif;
}

h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
}

h2{
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

h3{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
}

h4{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

h5{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.p2-regular{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}