* {
    font-family: "Inter", sans-serif;
}

/* Header */
h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 87px;
}

h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

h3 {
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
}

h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

h5 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

/* Paragraph/P1 */
.p1-semibold {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.p1-regular {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

/* Paragraph/P2 */
.p2-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.p2-medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.p2-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Paragraph/P3 */
.p3-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.p3-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 850px) {
    h2 {
        font-size: 54px;
        font-weight: 700;
        line-height: 65px;
    }
}